{% extends "base.html" %}
{% block content %}
  <div class="Jumbo">
	  <a href="logworkout">Log Workout</a>
	  
	  <h3>Your Studio Fitness Profile</h3>
	  
	  User Avatar
	  <br>
	  
	  Date
	  <br>
	  <br>
	  
YOUR LOGGED WORKOUTS:
<br>
<br>	  
{% for w in workouts %}	
  
Studio:
{{ w.studio }}
<br>
Instructor:
{{ w.instructor }}
<br>	  
How you felt before:
{{ w.before }}
<br>
How you felt during:
{{ w.during }}
<br>
How you felt after:
{{ w.after }}
<br>
<br>
	 
	  
{% endfor %}	  
{% endblock %}
  

